@charset "utf-8";
/* CSS Document for Find Your Friends Website */
/*
    Group Members:
        RIley Chase, a1647198
        Callum McNeish, a1646524
        Nicholas Bonini, a1646126
*/

body
{
    margin: 0;
}

#searchBar
{
    z-index: 3;
    position: absolute;
    width: 100%;
    visibility: hidden;
}

#searchForm
{
    float: right;
    padding-top: 20px;
    padding-right: 20px;
    width: 40%;
}

#searchBox
{
    width: 80%;
    padding: 0px;
    margin: 0px;
}

#searchSubmit
{
    padding: 0px;
    margin: 0px;
    width: 19%;
}

#mapScreen
{
    background-color: rgba(0,0,0,0.5);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.title
{
    position: relative;
    z-index: 2;
    color: #123456;
    text-align: center;
    font-family: "Copperplate Gothic Bold";
    font-size: 55px;
    background-color: #A8D6A3;
    margin-top: 5%;
}

#formContainer
{
    background-color: #FFF;
    position: relative;
    top: 150px;
    z-index: 1;
}

#loginForm
{
    float: left;
    margin-left: 15%;
    width: 400px;
    height: auto;
    padding-bottom: 10px;
    background-color: #C9C9C9;
}

#signupForm
{
    float: right;
    margin-right: 15%;
    width: 500px;
    height: auto;
    padding-bottom: 10px;
    background-color: #D0A3D6;
}

label
{
    float: left;
    width: 28%;
    text-align: right;
    margin-right: 0.5em;
    font-family: "Calibri";
}

.loginSignupInput
{
    width: 60%;
    float: left;
    font-family: "Calibri";
}

.buttonHolder
{
    display: inline;
    float: left;
    position: relative;
    width: 100%;
}

.submitButton
{
    font-family: "Calibri";
    font-size: 18px;
    width: 40%;
    position: relative;
    float: left;
    margin-left: 30%;
}

.formTitle
{
    font-family: "Calibri";
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
}

.rememberMe
{
    width: 5%;
}

.login
{
    left:+28%;
    margin-left: 0.5em;
}

.fbDesc
{
    color:#000;
    font-size:45px;
}

.signUpErrorMsg
{
    padding-top: 10px;
    padding-left: 28%;
    margin-left: 1em;
    color: red;
    font-family: "Calibri";
}
