@charset "utf-8";
/* Map image's CSS */
/*
	Group Members:
        	RIley Chase, a1647198
                Callum McNeish, a1646524
                Nicholas Bonini, a1646126
*/

#mapCanvas
{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 0;
}
